<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title th:text="#{login.title}"></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="navbar.html"></div>
<h1 class="display-4 text-center mb-4 p-4" th:text="#{login.title }"></h1>
<form action="/login" method="post" class="mx-auto w-25 p4" th:object="${loginUserDTO}">
    <label th:if="${failed}" class="alert alert-danger" th:text="#{login.badCredencials}"></label>
    <div class="mb-3">
        <label for="username" class="form-label" th:text="#{login.username}"></label>
        <input type="text" class="form-control" id="username" th:field="*{username}" autofocus="autofocus"/>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label" th:text="#{login.password}"></label>
        <input type="password" class="form-control" id="password" th:field="*{password}"/>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="remember" name="remember-me">
        <label class="form-check-label" for="remember" th:text="#{login.remember}"></label>
    </div>
    <button type="submit" class="btn btn-primary btn-block w-100" th:text="#{login.submit}"></button>
    <a th:href="@{/register}" class="btn btn-secondary btn-block w-100 mt-2" role="button"
       th:text="#{login.register}"></a>
</form>
</body>
</html>
