<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <a class=navbar-brand th:href="@{/}">Aprimons</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:text="#{navbar.home}" th:href="@{/}">
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:text="#{navbar.pokemons}" th:href="@{/pokemon/all}"></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:text="#{navbar.MyCollection}" th:href="@{/collection/my}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:text="#{navbar.changeLang}" th:href="@{/language}"></a>
                </li>
            </ul>
            <div class="d-flex text-white" sec:authorize="isAuthenticated()">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item" th:text="#{home.authenticated} + ' ' + ${#authentication.getName()}"></li>
                    <a class="nav-link" th:text="#{navbar.logout}" th:href="@{/logout}"></a>
                </ul>
            </div>
            <div class="d-flex text-white" sec:authorize="isAnonymous()">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:text="#{home.notAuthenticated} + ' ' +#{login.title}"
                           th:href="@{/login}"></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>