<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Pokemons</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="navbar.html"></div>
<h1 class="text-center">All Pokemons</h1>
<div class="container">
    <form th:action="@{/pokemon/all}" method="get">
        <label for="order">Sort by:</label>
        <select id="order" name="order">
            <option value="dexNumber" th:selected="${order == 'dexNumber'}" th:text="DexNumber"></option>
            <option value="name" th:selected="${order == 'name'}" th:text="Name"></option>
        </select>
        <label for="direction"></label>
        <select id="direction" name="direction">
            <option value="asc" th:selected="${direction == 'asc'}">Asc</option>
            <option value="desc" th:selected="${direction == 'desc'}">Desc</option>
        </select>
        <input type="hidden" name="size" th:value="${pokemons.getSize()}">
        <button type="submit">Sort</button>
    </form>

    <div class="btn-group" role="group" aria-label="Liczba wyników na stronie">
        <a th:href="@{'/pokemon/all?page=0&amp;size=20&amp;order=' + ${order} + '&amp;direction=' + ${direction}}" class="btn btn-secondary" th:text="20">20</a>
        <a th:href="@{'/pokemon/all?page=0&amp;size=50&amp;order=' + ${order} + '&amp;direction=' + ${direction}}" class="btn btn-secondary" th:text="50">50</a>
        <a th:href="@{'/pokemon/all?page=0&amp;size=100&amp;order=' + ${order} + '&amp;direction=' + ${direction}}" class="btn btn-secondary" th:text="100">100</a>
    </div>


    <table class="table table-bordered table-striped text-center ">
        <thead class="table-dark align-middle">
        <tr>
            <th>Dex Number</th>
            <th>Name</th>
            <th>Image</th>
            <th th:each="pokeball : ${pokeballList}" th:text="${pokeball.getName()}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pokemon : ${pokemons} ">
            <td class="col-1 text-center align-middle" th:text="${pokemon.getDexNumber()}"></td>
            <td class="col-1 col-md text-center align-middle" th:text="${pokemon.getName()}"></td>
            <td class="col-1 text-center align-middle"><img class="img-fluid" th:src="@{'/images/pokemons/' + ${pokemon.getImage()}}" alt="Pokemon Image"></td>
            <td class="col-1 text-center align-middle" th:each="pokeball : ${pokeballList}" >
                    <img th:if="${pokemon.getPokeballs().contains(pokeball)}" th:src="@{'/images/balls/' + ${pokeball.getName()} + '.png'}">

                    <img th:unless="${pokemon.getPokeballs().contains(pokeball)}" th:src="@{/images/others/cross.png}">
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <span>Strona:</span>
        <span th:text="${pokemons.number + 1}"></span>
        <span>z</span>
        <span th:text="${pokemons.totalPages}"></span>
    </div>
    <div>
        <a th:if="${pokemons.hasPrevious}" th:href="@{/pokemon/all(page=${pokemons.number - 1}, size=${pokemons.size}, order=${order}, direction=${direction})}">Poprzednia</a>
        <a th:if="${pokemons.hasNext}" th:href="@{/pokemon/all(page=${pokemons.number + 1}, size=${pokemons.size}, order=${order}, direction=${direction})}">Następna</a>
    </div>
</div>
</body>
</html>