<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Pokemons</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="navbar.html"></div>
<h1 class="text-center">All Pokemons</h1>
<div class="container">
    <form th:action="@{/pokemon/all}" method="get">
        <label for="order">Sort by:</label>
        <select id="order" name="order">
            <option value="dexNumber" th:selected="${allPokemonDTO.getOrder() == 'dexNumber'}" th:text="DexNumber"></option>
            <option value="name" th:selected="${allPokemonDTO.getOrder() == 'name'}" th:text="Name"></option>
        </select>
        <label for="direction"></label>
        <select id="direction" name="direction">
            <option value="asc" th:selected="${allPokemonDTO.getDirection() == 'asc'}">Asc</option>
            <option value="desc" th:selected="${allPokemonDTO.getDirection() == 'desc'}">Desc</option>
        </select>
        <br>
        <label>Page size:</label>
        <div class="btn-group">
            <label class="btn btn-secondary">
                <input type="radio" name="size" value="20" th:checked="${allPokemonDTO.getSize() == 20}"> 20
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="size" value="50" th:checked="${allPokemonDTO.getSize() == 50}"> 50
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="size" value="100" th:checked="${allPokemonDTO.getSize() == 100}"> 100
            </label>
        </div>
        <button type="submit">Refresh</button>
    </form>


    <table class="table table-bordered table-striped text-center ">
        <thead class="table-dark align-middle">
        <tr>
            <th>Dex Number</th>
            <th>Name</th>
            <th>Image</th>
            <th th:each="pokeball : ${pokeballList}" th:text="${pokeball.getName()}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pokemon : ${pokemons} ">
            <td class="col-1 text-center align-middle" th:text="${pokemon.getDexNumber()}"></td>
            <td class="col-1 col-md text-center align-middle" th:text="${pokemon.getName()}"></td>
            <td class="col-1 text-center align-middle"><img class="img-fluid" th:src="@{'/images/pokemons/' + ${pokemon.getImage()}}" alt="Pokemon Image"></td>
            <td class="col-1 text-center align-middle" th:each="pokeball : ${pokeballList}" >
                    <img th:if="${pokemon.getPokeballs().contains(pokeball)}" th:src="@{'/images/balls/' + ${pokeball.getName()} + '.png'}">

                    <img th:unless="${pokemon.getPokeballs().contains(pokeball)}" th:src="@{/images/others/cross.png}">
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <span>Strona:</span>
        <span th:text="${pokemons.number + 1}"></span>
        <span>z</span>
        <span th:text="${pokemons.totalPages}"></span>
    </div>
    <div>
        <a th:if="${pokemons.hasPrevious}" th:href="@{/pokemon/all}">Poprzednia</a>
        <a th:if="${pokemons.hasNext}" th:href="@{/pokemon/all}">Następna</a>
    </div>
</div>
</body>
</html>