<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formularz Rejestracji</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="navbar.html"></div>
<h1 class="display-4 text-center mb-4 p-4" th:text="#{register.title}"></h1>

<form action="/register" method="post" th:object="${newUserDTO}" class="mx-auto w-25 p-4">
    <input type="hidden" name="${_csrf.parameterName}"
           value="${_csrf.token}"/>

    <div class="mb-3">
        <label th:for="username" class="form-label">Nazwa użytkownika:</label>
        <input type="text" th:field="*{username}" class="form-control" >
    </div>
    <br>

    <div class="mb-3">
        <label th:for="email" class="form-label">Adres e-mail:</label>
        <input type="email" th:field="*{email}" class="form-control" >
    </div>
    <br>

    <div class="mb-3">
        <label th:for="password" class="form-label">Hasło:</label>
        <input type="password" th:field="*{password}" class="form-control">
    </div>
    <br>

    <div class="mb-3">
        <label th:for="confirmPassword" class="form-label">Potwierdź hasło:</label>
        <input type="password" th:field="*{confirmPassword}" class="form-control" >
    </div>
    <br>

    <button type="submit" class="btn btn-primary btn-block w-100">Zarejestruj</button>
</form>

</body>
</html>